a.globalnav-ghost-icon-link {
    position: absolute;
    top: 9px;
}


.nav{
    padding-left: 7%;
    color:black;
    font-weight: 500;
    text-decoration: none;
    }
    .nav-link{
        color: black;

    }
header{
    background-color: white !important;
    color: black;
    z-index: 100;
}

body{
    background-color: #FFFC00;
}

video{
    width: 90%;
    height: 90%;
    border-radius: 9%;
}
#download {
    display: table;
    font-size: 15px;
    padding-top: 54px;
    position: relative; 
    width: 100%;
    height: calc(100% - 46px)
}







    .send-button{
        background-color: black;
        color:white ;
        font-weight: 500;
    }
a{
text-decoration: none;

}



footer{ 
    background-color: rgba(229, 226, 226, 0.9); 
    color:black !important;
}

